.header__lang-link {
  font-family: 'Inter', 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity 350ms ease;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
