.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 740px;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover__link:hover::before {
  opacity: 0.8;
  transition: opacity 350ms ease;
}

@media (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}
