.place__title {
    margin: 0;
    padding: 0;
    width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}