.place__title {
    margin: 0;
    padding: 0;
    width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

@media (max-width: 1279px) {
    .place__title {
        width: 440px;
    }
}

@media (max-width: 1023px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .place__title {
        margin: 0 auto;
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}