.cover {
  margin: 92px 48px 0;
  min-height: 740px;
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .cover {
    margin: 92px auto 0;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .cover {
    margin: 90px auto 0;
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) and (min-width: 321px) {
  .cover {
    margin: 66px auto 0;
    width: 320px;
    min-height: 200px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 66px 0 0;
    width: 320px;
    min-height: 200px;
  }
}
