.cover {
    display: flex;
    flex-direction: column;
    margin: 92px 48px 0;
    width: 1184px;
    min-height: 740px;
    position: relative;
    z-index: 1;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;
    transition: opacity 350ms ease;
}

.cover:hover::before {
    opacity: 0.8;
}

@media (max-width: 1279px) {
    .cover {
        margin: 92px 0 0;
        width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        margin: 90px 0 0;
        width: 768px;
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover {
        margin: 66px 0 0;
        width: 320px;
        min-height: 200px;
    }
}