.cover__title {
    margin: 245px 312px 0;
    min-width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1279px) {
    .cover__title {
        margin: 195px 232px 0;
    }
}

@media (max-width: 1023px) {
    .cover__title {
        margin: 115px 104px 0;
    }
}

@media (max-width: 767px) {
    .cover__title {
        margin: 33px 16px 0;
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}